@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap');

/* Navigation(Capital BOLD,14),
main button(Bold,16),
sub text (R,16),
body (regular,18px) use font open sans */

body {
    background: url(img/bg-image-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}


h1 {
    color: white;
    font-weight: bold;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
}

h3 {
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
}

.size {
    font-size: 16px;
}

div.container:nth-child(19)>a:nth-child(1) {

    text-decoration: none;
    color: white;
}